/*nav*/

.navbar{
    width: 100vw;
    height: auto;
    background-image: linear-gradient(rgb(224, 149, 162), transparent);

    .container-fluid{
        align-items: center;
        justify-content: center;
    }

    .nav-item{
        font-size: 20px;
        font-weight: 700;
        font-family: sans-serif;
        transition: 0.5s;
    }
    .nav-item a:hover{
        color: rgb(168, 51, 70);
        font-size: 22px;
    }

    .logo-img{
        width: 160px;
        height: 120px;
        object-fit: cover;
        margin-left: 25px;
    
    }
}





    
    
    

    
    
    