/* contacto*/

.title-contact{
    text-align: center;
    margin-top: 40px;
    color: rgb(34, 34, 34);
    font-size: 40px;
    font-family: "Dancing Script", cursive;
}
.box-contact{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.form{
    padding: 7px;
    width: 50%;

}
.form textarea{
    display: block;
    text-align: start;
    padding: 3px;
    border-radius: 7px;
    border: 2px solid rgb(40, 24, 110);
    width: 100%;

}
.form input{
display: block;
width: 100%;
text-align: start;
padding: 3px;
border-radius: 7px;
border: 2px solid rgb(40, 24, 110);
}

button{
    width: 150px;
    height: 40px;
    margin: 15px;
    padding: 5px;
    font-size: 18px;
    font-weight: bold;
    border: 1px solid black;
    border-radius: 7px;
    background-color: rgb(150, 39, 103);
}
