/*main*/

    .box-container{
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 20px;

        .img-container{
            width: 300px;
            object-fit: cover;
            padding: 10px;
        }
    }
    
    .text-wrapper{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .text-wrapper h2{
            @include text (50px, 800, "Dancing Script", center, rgb(34, 34, 34));
            margin-top: 70px;
            padding: 10px;
        }

    .text-wrapper h3{
            @include text (23px, bold, sans-serif, center, rgb(34, 34, 34));
            padding: 10px;
            text-transform: uppercase;
    }

    .text-wrapper p{
        text-align: center;
        font-size: 18px;
        font-family: sans-serif;
    }
    


.box-eventos{
    display: flex;
    align-items: center;
    margin: 20px;
    gap: 20px;
    background-color: $dark-color;

    .p-eventos{
        max-width: 600px;
        border-radius: 10px;
        @include text (20px, 700, sans-serif, flex-start, rgb(218, 252, 98));
        justify-content: center;
        padding: 10px;
        position: relative;
        left: 2%;
        
    }

    .img-eventos{
        @include img (600px, 400px, cover);
        border-radius: 10px;
        transition: 0.5s;
    }
    
    .img-eventos:hover{
        transform: scale(1.1);
    }
    .link{
        width: 50px;
        background-color: rgb(218, 252, 98);
        text-align: center;
        justify-content: center;
        padding: 5px;
        font-size: 16px;
        font-weight: 700;
        text-transform: uppercase;
        text-decoration: none;
        border-radius: 10px;
        color: rgb(9, 9, 78);
        margin-left: 3.5%;
    }
}

.article-event{
    flex-direction: column;
}
.titulo-eventos{
    @include text (45px, 800, "Dancing Script", center, rgb(34, 34, 34));
    flex-direction: column;
    justify-content: center;
    padding: 15px;
}
.a-eventos{
    @include text (18px, 700, sans-serif, center, rgb(41, 40, 40));
    align-items: center;
    padding: 8px;
    margin: 20px;
    background-color: rgb(223, 152, 164);
    border-radius: 8px;
    text-transform: uppercase;
    text-decoration: none;
    position: relative;
    top: 30%;
}

.titulo2{
    @include text(50px, 800, "Dancing Script", center, rgb(34, 34, 34));
    padding: 15px;
    
}

.carousel-item img{
    @include img (800px, 600px, cover);
}
.carousel-control-prev, .carousel-control-next{
    top: 45%;
}

