/*sobre mi*/
.about{
    align-items: center;
    justify-content: center;
    margin: 30px 20px;

}
.about h3{
    max-width: 500px;
    @include text (30px, 700, "Dancing Script", center, rgb(34, 34, 34));
    text-shadow: 1px 1px 1px rgb(48, 47, 47);
    text-align: center;
    
}
.about img{
        @include img (400px, 500px, cover);
        border-radius: 30px;
        padding: 20px;
    }
    
    .about-p {
        max-width: 700px;
        font-size: 18px;
        color: rgb(41, 40, 40);
        text-align: center;
        
    }
    span{
        color: rgb(136, 30, 48);
        
    }


