/*tienda*/
.title{
    display: flex;
    @include text (45px, 700, "Dancing Script", center, rgb(34, 34, 34));
    justify-content: center;
    margin: 30px;
    padding :20px;
}

.box-tienda{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    }

    .box-tienda img{
        @include img (300px, 300px, cover);
        gap: 10px;
        border-radius: 7px;
    }

    .box-tortas{
        text-align: center;
        justify-content: center;
        display: flex;
        flex-direction: column;
        align-items: center;

        .box-precio{
            font-size: 18px;
            font-weight: bold;
            margin-bottom: 30px;
        }
        .title-tortas{
            background-color: rgb(248, 143, 192);
            width: 200px;
            padding: 5px;
            border-radius: 7px;
            font-size: 18px;
            font-family: sans-serif;
            font-weight: bold;
            margin: 20px 55px;
        }
    }

    

    
        
    


    
